<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>PartyPeople461L</servlet-name>
		<servlet-class>partypeople.PartyPeople461LServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PartyPeople461L</servlet-name>
		<url-pattern>/partypeople461l</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>FilterServlet</servlet-name>
	    <servlet-class>partypeople.FilterServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>FilterServlet</servlet-name>
	    <url-pattern>/update-filters</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>NewPartyServlet</servlet-name>
	    <servlet-class>partypeople.NewPartyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>NewPartyServlet</servlet-name>
	    <url-pattern>/new-party</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>PartyPageServlet</servlet-name>
	    <servlet-class>partypeople.PartyPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>PartyPageServlet</servlet-name>
	    <url-pattern>/party-page</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>RSVPServlet</servlet-name>
	    <servlet-class>partypeople.RSVPServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RSVPServlet</servlet-name>
	    <url-pattern>/rsvp</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>CommentServlet</servlet-name>
	    <servlet-class>partypeople.CommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>CommentServlet</servlet-name>
	    <url-pattern>/post-comment</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ItemSignUpServlet</servlet-name>
	    <servlet-class>partypeople.ItemSignUpServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ItemSignUpServlet</servlet-name>
	    <url-pattern>/item-sign-up</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>DeletePartyServlet</servlet-name>
	    <servlet-class>partypeople.DeletePartyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>DeletePartyServlet</servlet-name>
	    <url-pattern>/delete-party</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>RequestEditPageServlet</servlet-name>
	    <servlet-class>partypeople.RequestEditPageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RequestEditPageServlet</servlet-name>
	    <url-pattern>/request-edit-page</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
